:root{
    --bg-color : rgb(243 244 246/1);
    --dark-bg-color : rgb(55 65 81 / 1);
}
.password , .dark ,.password{
    border : 0px solid rgb(194, 194, 194);
    
}
.password:focus-within , .dark .password:focus-within{
    border : 0px solid rgb(194, 194, 194);
    
}
.pwd-box{
    border : none;
    border-radius: 8px;
    background-color: white;
}
.dark .pwd-box{
    border : none;
    border-radius: 8px;
    background-color: white;
}
.password button , .dark .password button{
    background-color: var(--bg-color) ;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0;
}
.dark .password button{
    background-color: var(--dark-bg-color) ;

}

.password button:hover , .dark .password button:hover {
    background-color:var(--bg-color) ;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0;
}
.dark .password button:hover {
    background-color: var(--dark-bg-color);
}
.pwd-box:focus , .dark .pwd-box:focus{
    border : none;
    outline: none;
}
.dark [type='text']:focus, .dark [type='email']:focus,.dark [type='url']:focus,.dark [type='password']:focus,.dark [type='number']:focus,.dark [type='date']:focus,.dark [type='datetime-local']:focus,.dark [type='month']:focus,.dark [type='search']:focus,.dark [type='tel']:focus,.dark [type='time']:focus,.dark [type='week']:focus,.dark [multiple]:focus,.dark textarea:focus,.dark select:focus {
    outline: none;
    outline-offset: 0px !important;
    --tw-ring-inset: var(--tw-empty) !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: white !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: white !important;
    background-color: var(--dark-bg-color) !important;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: none;
    outline-offset: 0px !important;
    --tw-ring-inset: var(--tw-empty) !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: white !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: white !important;
}

.dark [type='text'], .dark [type='email'], .dark [type='url'], .dark [type='password'], .dark [type='number'], .dark [type='date'], .dark [type='datetime-local'],.dark [type='month'], .dark [type='search'], .dark [type='tel'], .dark [type='time'], .dark [type='week'], .dark [multiple], .dark textarea, .dark select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--dark-bg-color)!important;
    border-color: #6B7280;
    border-width: 0px !important;
    border-radius: 8px ;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:  var(--bg-color) !important;
    border-color: #6B7280;
    border-width: 0px !important;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}


.side div{
    border: none;
    border-radius: 0 !important;
    
}
.dark .side div{
    background-color: rgb(20, 30, 44) !important;
}

/* rgb(31 41 55) */
/* rgb(249 250 251 / var(--tw-bg-opacity)); */

.ql-editor{
    font-size: 1.05rem;
}
.show-more-btn{
    border : none !important;
    border: 0px !important;
    outline: 0px !important;
}
.show-more-btn:hover{
    background-color: transparent !important;
}

.show-more-btn:focus{
    border: 0px !important;
    outline: 0px !important;
}
.dark .show-more-btn{
    background-color: transparent !important;
}

.dark .show-more-btn:hover{
    background-color: transparent !important;
}

.dark .show-more-btn:focus{
    border: 0px !important;
    outline: 0px !important;
}